html, body, #root, .App, .TwitchChat {
  height: 100%;
  width: 100%;
}

.App .LogEvents, .App .TwitchChatEvents {
  padding: 1em;
}

.LogEvents > pre, .TwitchChatEvents > pre {
  border: 0.25em solid black;
  min-height: 24em;
  width: 80em;
}

.TwitchChat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
}

.TwitchChat .message-wrapper {
  border-radius: 0.25em;
  width: max-content;
  max-width: fit-content;
  min-height: fit-content;
  animation-name: chat_animation;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  margin-left: 0.5em;
}

.TwitchChat .display-name {
  color: white;
  text-shadow:
    -0.10em -0.10em 0 #000,
    -0.08em -0.10em 0 #000,
    -0.06em -0.10em 0 #000,
    -0.04em -0.10em 0 #000,
    -0.02em -0.10em 0 #000,
     0.00em -0.10em 0 #000,
     0.02em -0.10em 0 #000,
     0.04em -0.10em 0 #000,
     0.06em -0.10em 0 #000,
     0.08em -0.10em 0 #000,
     0.10em -0.10em 0 #000,
     0.10em -0.08em 0 #000,
     0.10em -0.06em 0 #000,
     0.10em -0.04em 0 #000,
     0.10em -0.02em 0 #000,
     0.10em  0.00em 0 #000,
     0.10em  0.02em 0 #000,
     0.10em  0.04em 0 #000,
     0.10em  0.06em 0 #000,
     0.10em  0.08em 0 #000,
     0.10em  0.10em 0 #000,
     0.08em  0.10em 0 #000,
     0.06em  0.10em 0 #000,
     0.04em  0.10em 0 #000,
     0.02em  0.10em 0 #000,
     0.00em  0.10em 0 #000,
    -0.02em  0.10em 0 #000,
    -0.04em  0.10em 0 #000,
    -0.06em  0.10em 0 #000,
    -0.08em  0.10em 0 #000,
    -0.10em  0.10em 0 #000,
    -0.10em  0.08em 0 #000,
    -0.10em  0.06em 0 #000,
    -0.10em  0.04em 0 #000,
    -0.10em  0.02em 0 #000,
    -0.10em  0.00em 0 #000,
    -0.10em -0.02em 0 #000,
    -0.10em -0.04em 0 #000,
    -0.10em -0.06em 0 #000,
    -0.10em -0.08em 0 #000
}

.TwitchChat .message {
  background-color: #FFFFFFCC;
}

.TwitchChat .display-name, .TwitchChat .message {
  border-radius: 0.25em;
  border-style: 'solid';
  border-width: 0.25em;
  padding-left: 0.25em;
}

@keyframes chat_animation {
  0%   { transform: translatex(-100vw); }
  3%   { transform: translatex(0); }
  97%  { transform: translatex(0); }
  100% { transform: translatex(-100vw); }
}
