* {
  margin: 0;
  padding: 0;
}

.TwitchChat {
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
}

.messageWrapper {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.25em;
  margin-left: 0.75em;
  margin-top: 1.25em;
  overflow: visible;
  width: fit-content;
}

.displayName {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.25em;
  color: white;
  float: left;
  margin-left: -0.5em;
  margin-top: -1em;
  margin-right: 0.25em;
  padding: 0.25em;
  text-shadow:
    -0.10em -0.10em 0 #000,
    -0.08em -0.10em 0 #000,
    -0.06em -0.10em 0 #000,
    -0.04em -0.10em 0 #000,
    -0.02em -0.10em 0 #000,
     0.00em -0.10em 0 #000,
     0.02em -0.10em 0 #000,
     0.04em -0.10em 0 #000,
     0.06em -0.10em 0 #000,
     0.08em -0.10em 0 #000,
     0.10em -0.10em 0 #000,
     0.10em -0.08em 0 #000,
     0.10em -0.06em 0 #000,
     0.10em -0.04em 0 #000,
     0.10em -0.02em 0 #000,
     0.10em  0.00em 0 #000,
     0.10em  0.02em 0 #000,
     0.10em  0.04em 0 #000,
     0.10em  0.06em 0 #000,
     0.10em  0.08em 0 #000,
     0.10em  0.10em 0 #000,
     0.08em  0.10em 0 #000,
     0.06em  0.10em 0 #000,
     0.04em  0.10em 0 #000,
     0.02em  0.10em 0 #000,
     0.00em  0.10em 0 #000,
    -0.02em  0.10em 0 #000,
    -0.04em  0.10em 0 #000,
    -0.06em  0.10em 0 #000,
    -0.08em  0.10em 0 #000,
    -0.10em  0.10em 0 #000,
    -0.10em  0.08em 0 #000,
    -0.10em  0.06em 0 #000,
    -0.10em  0.04em 0 #000,
    -0.10em  0.02em 0 #000,
    -0.10em  0.00em 0 #000,
    -0.10em -0.02em 0 #000,
    -0.10em -0.04em 0 #000,
    -0.10em -0.06em 0 #000,
    -0.10em -0.08em 0 #000;
}

.message {
  background-color: #FFFFFFCC;
  border-radius: 0.25em;
  padding: 0.25em;
  overflow: visible;
}

.message * {
  display: inline-flex;
}

.message img {
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.message .smallImg {
  margin: -0.5rem 0;
}

.message .largeImg {
  margin-bottom: -0.5rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.join {
  background-color: #32CD32;
}

.part {
  background-color: #FF4040;
}